In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
df =  pd.read_csv('Data - RF2.csv') 
dc = df.iloc[:,:]
dc.head()

,fire_record,IMD_score,population,White,mixed/multiple_ethnic_groups,Asian/Asian_British,Black/African/Caribbean/Black British,other_ethnic_group,Household_spaces_with_no_usual_residents,Household_Median_Annual_Household_Income_estimate_2012
0,1,6.21,113.56,84.51,3.69,8.74,0.75,2.32,13.44,58347.32
1,1,5.14,63.70,88.72,3.76,6.62,0.28,0.63,14.96,57159.50
2,0,19.40,229.61,78.38,4.09,12.48,3.34,1.71,7.89,34386.56
3,1,28.65,61.81,51.37,5.99,27.82,10.15,4.67,11.55,23999.85
4,0,19.84,116.92,32.71,3.41,50.56,10.39,2.94,2.69,39140.64

In [12]:
x, y = dc.iloc[:, 1:].values, dc.iloc[:, 0].values
dc.head()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)
feat_labels = dc.columns[1:]
forest = RandomForestClassifier(n_estimators=10000, random_state=0, n_jobs=-1)
forest.fit(x_train, y_train)

RandomForestClassifier(n_estimators=10000, n_jobs=-1, random_state=0)

In [13]:
importances = forest.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(x_train.shape[1]):
    print("%2d) %-*s %f" % (f + 1, 30, feat_labels[indices[f]], importances[indices[f]]))

 1) population                     0.122500
 2) Black/African/Caribbean/Black British 0.114717
 3) Household_Median_Annual_Household_Income_estimate_2012 0.112439
 4) Household_spaces_with_no_usual_residents 0.111543
 5) mixed/multiple_ethnic_groups   0.110159
 6) other_ethnic_group             0.108902
 7) IMD_score                      0.108772
 8) Asian/Asian_British            0.105906
 9) White                          0.105061